*.vo
*.glob
*.aux
.coqdeps.d
core.make
core.make.conf
*_build
*.merlin
Edsger/parser.ml
Edsger/parser.mli

# Docs
docs/*.pdf
docs/*.html
docs/coqdoc/*
!docs/coqdoc/custom-coqdoc.css
!docs/coqdoc/custom-coqdoc-css-licence
